.contact {
    background-color: var(--highlight-background-color);
}

.social-icons a{
    visibility: visible;
    opacity: 1;
}

/* Hide video and show SVG logo when no JS, not going to worry about detecting inline SVG support. */
.logo video{
    display:none;
}

.logo #logo-svg{
    display: block;
}

/* Staggered fade in css effect for page elements */
.container > div:not(.logo), .container .services li {
    opacity: 0;
    animation: fadeIn 0.6s forwards;
}

/* First, delays for list items */
.container .services li:first-child {
    animation-delay: calc(0.5s * 1);
}

.container .services li:nth-child(2) {
    animation-delay: 1s;
}

.container .services li:nth-child(3) {
    animation-delay: 1.5s;
}

.container .services li:nth-child(4) {
    animation-delay: 2s;
}

/* Delays for remaining divs */
.container div:nth-child(3) {
    animation-delay: 2.5s;
}

.container div:nth-child(4) {
    animation-delay: 3s;
}

.container div:nth-child(5) {
    animation-delay: 3.5s;
}

/* If further divs are added, this can be accounted for above */

/* Animation keyframes for gradual fade-in */
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}