/* styles.css */
:root {
    --text-color: #3d3d3d;
    --link-color: #3d3d3d;
    --logo-color: var(--text-color);
    --background-color: #f4f4f4;
    --highlight-background-color: #3d3d3d;
    --highlight-color: #ffffff;
    --brand-color: #fcb8c4;
    --font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }


* {
    margin: 0;
    box-sizing: border-box;

}

/* General Styling */
body {
    font-family: var(--font-family);
    text-align: center;
    font-size: 1.4em;
    font-weight: 720;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg, video{
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/*Page Layout and Flex Styling */
.container {
    width: 600px;
    max-width: 100%;
    padding:18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.email, .services, .contact p{
    flex-shrink: 1; /* Allows the email to shrink if necessary */
    overflow-wrap: break-word; /* Breaks long words, such as email addresses */
    word-break: break-all; /* Ensures it breaks in a way that fits the container */
    max-width: 100%; /* Prevents it from exceeding the width of its container */
}

.contact, .email{
    margin-bottom: 16px;
}

.logo {
    width: 512px;
    max-width: 100%;
    margin-top:0;
    margin-right:auto;
    margin-bottom: 32px;
    margin-left: auto;
}

.services ul {
    display: flex;
    flex-direction: column; /* Ensure list items stack vertically */
    width: 100%;
    margin-bottom: 26px;
}

.services li {
    flex-shrink: 1; /* Allow list items to shrink */
    overflow-wrap: break-word; /* Break long words to prevent overflow */
    word-break: break-all; /* Break long strings that don't fit */
    max-width: 100%; /* Prevent items from exceeding the container's width */
    white-space: normal; /* Allow text to wrap normally */
    margin-bottom:18px;

}

.contact p{
    padding: 2px 3px;
}

/* Animation Styling */
.logo {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

.fade-in-animation{
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.typed-text {
    /*white-space: nowrap;*/
    overflow: hidden;
}

@keyframes blink-caret {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animate-hover {
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.animate-hover:hover {
    transform: scale(1.1);
    color: var(--brand-color);
}

.social-icons a {
    opacity: 0;
}

/* Underline Hover Effect */
.underline-hover-effect a {
    text-decoration: none;
    color: var(--link-color);
    position:relative;
}

.underline-hover-effect a::after{
    content: '';
    display: block;
    position:absolute;
    z-index: -1;
    bottom:5px;
    left:0.2em;
    height: 8px;
    background: var(--brand-color);
    width: 0%;
    transition: width 0.7s ease-in-out; 
}

.underline-hover-effect a:hover::after {
    width: 100%; 
}

.underline-hover-effect a::after {
    transition: width 0.7s ease-in-out;
}

/* Show/hide the cursor when typing is done */
.cursor::after {
    content: '.';
    /*animation: blink-caret 1s step-end infinite;*/
}

.no-cursor::after {
    content: '';
    animation: none;
}

/* Fallback for typing effect */
/*.typed-text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}*/

/* Additional styling */
.logo svg{
    fill: var(--logo-color);
}

.contact{
    font-size: 0.8em;
    font-weight: 500;
    color: var(--highlight-color);
    text-transform: uppercase;
}

.contact .type-animation-started{
    background-color: var(--highlight-background-color);
}

.email a {
    color: var(--link-color);
    font-size: 1.2em;
}

.social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

/* Modernizr classes & styles */

.logo #logo-img, .logo #logo-svg{
    width: 100%;
    display: none;
}

.no-video .logo video{
    display: none;
}

.no-video.inlinesvg .logo #logo-svg{
    display: block;
}

.no-video.no-inlinesvg .logo #logo-img{
    display: block;
}

/* Responsive styles */
@media screen and (max-width: 640px) {
    .container {
        padding: 8px;
    }

    .logo, .services li{
        margin-bottom:16px;
    }

    .services ul{
        margin-bottom: 26px;
        margin-top:26px;
    }

    .logo {
        width: 256px;
    }

    .logo img {
        width: 100%;
    }

    .services li {
        font-size: 0.8em;
    }

    .contact {
        font-size: 0.6em;
    }

    .email a {
        font-size: 1em;
    }
}

@media screen and (max-width: 420px) {
    .logo{
        margin-bottom: 0px;
    }
    .services li{
        margin-bottom:8px;
    }

    .contact, .email{
        margin-bottom: 2px;
    }

    .logo {
        width: 196px;
    }

    .services li {
        font-size: 0.6em;
    }

    .contact {
        font-size: 0.5em;
    }

    .email a {
        font-size: 0.8em;
    }
    
}

@media screen and (max-width: 320px) {
    .email a{
        font-size: 0.6em;
    }
}